$black: #292528;
$red: #fe4343;
$green: #03989E;
$hover: #FDD18D;
$white: #fff;
$background:#f6f6f6;
$glay:#999;
$border: 0 1rem 2rem rgba(0,0,0,.4);
$box-shadow:0 0 .5rem rgba(0,0,0,.5);

@mixin grid($val){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:2rem;
}

*{
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-size: 1.6rem;
}

html{
  font-size: 62.5%; //基準のとなるpxが10px程度のサイズになる
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: uppercase;


  &::-webkit-scrollbar{
   width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: transparent;
  }

  &::-webkit-scrollbar-track{
    background: transparent;
  }
}

body{
  img ,iframe{
    box-shadow: $box-shadow;
  }
}

#pagetop{
  position: fixed;
  bottom: -1.5rem; right: 0;
  z-index: 1002;
  img{
    box-shadow: none;
    width: 10rem;
    height: 10rem;
  }
}

section{
  padding: 3rem 5%;

  .content{
    padding: 3rem 5%;
  }

h2{
  font-size: 3rem;
  color: $black;
 }
}

caption{
  font-size: 2.5rem;
}

.title{
  font-size: 2.5rem;
}

#toppage{
  width: 100vw;
  height: 55vh;
  background: url(../img/topimg4.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

.top-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 2rem 0 2rem;
  width: 100vw;

  .companyname{
    display: flex;
    align-items: center;
    img{
      width: 8rem;
      height: 8rem;
      }
    h1{
    font-size: 4rem;
    margin-left: 2rem;
    }
  }
  .call-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  span{
    display: block;
    font-weight: lighter;
    color: $white;
    font-size: 2rem;
    }
   p{
     color: $white;
     font-size: 2rem;

     a{
       color: $white;

       &:hover{
         color: $red;
       }
     }
   }
  }
 }
}

.header{
  position: absolute;
  display: flex;
  align-items: center;
  flex-flow: column;
  align-content: center;
  width: 35rem;
  margin: 1rem;
  padding: 3rem;
  background: $green;
  z-index: 1002;
  border-radius: 1.5rem;

  .logo{
    display: flex;
    flex-flow: column;
    .logoimg{
    margin-bottom: 2rem;
      width: 15rem;
      height: 15rem;
    }
  }

  .navbar{
    padding: 5% 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .title{
      color: $hover;
    }

    li{
      list-style: none;
      padding: .5rem;
    a{
      font-size: 2rem;
      color: $black;

      &:hover{
        color: $hover;
        text-decoration: underline;
        font-weight: 900;
        letter-spacing: .2rem;
      }
    }
   }
 }

.share{
  text-align: center;

  a, img{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    background: $white;
    color: $black;
    margin: 0 .3rem;

    &:hover{
      background:$black;
      color: $white;
      }
    }
  }

 .credit{
   text-align: center;
   color: $white;
   font-size: 1.5rem;
   padding-top: 10%;
 }

}

#menu-btn{
  position: absolute;
  top: 4rem; right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: $black;
  color: $white;
  text-align: center;
  z-index: 1000;
  display: none;

  &.fa-times{
    background: $white;
    color: $black;
  }
}

#home{
  padding-left: 40rem;

 .owl-carousel{
   .owl-item{
     width: 100vh;
  img{
    margin: 2rem;
    display: block;
    width: 96%;
  }
 }
 .owl-nav{
   display: none;
 }
 .owl-dots{
   position: absolute;
   bottom: 5%; left: 50%;
   transform: translateX(-50%);

   .owl-dot{
     border: none;
     outline: none;
   }
 }
}

.news{
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 63vw;
    height: 45vh;
  }
}

}

.info-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  .item{
    margin: 1.5rem;
  img{
    width: 40vw;

   }
  }

}


#main{
  display: flex;
  align-items: center;
  flex-flow: column;
  align-content: center;

  .info-add{
    .content-inner{
      display: flex;
      justify-content: space-evenly;

      iframe{
        width: 50vw;
        height: 60vh;
      }
      .box{
        p{
      font-size: 2rem;
      color: $black;
      a{
        color: $black;
        font-size: 2rem;
        &:hover{
          color: $red;
        }
        span{
          color: $black;
        }
      }
    }

      }
    }
  }
  .info-reserve{
    .price{
      width: 100%;


      table{
      tr{
        th{
          width: 30rem;
          font-size: 1.8rem;
        }
      }
     }
     .color{
       font-size: 2rem;
       font-weight: bolder;
       color: $red;
     }
    }
    .reserve{
      display: block;
      text-align: right;
    }
  }

  }

#footer{
  position: relative;
  z-index:999;
  background: $green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  width: 110%;

  .footer-content{
    display: flex;
    align-items: flex-start;

  .box{

  p,a{
      font-size: 2rem;
      color: $white;
    }
    h2{
      color: $white;
    }
  }

 ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  margin: 0 15rem;

  li{
    list-style: none;

    a{
      font-size: 2rem;
      color: $white;

      &:hover{
        color: $hover;
        text-decoration: underline;
        letter-spacing: .1rem;
      }
    }
  }
  }
 }
}

//--------index end----------------
//----company-info----


   .wrap{
    min-height: 110vh;
    padding-left: 40rem;
   }

   .content{
    display: grid;
    grid-template-rows: 1fr;
    width: 100vw;

    h2{
      color: $black;
      padding-left: 2rem;
      margin-bottom: 6rem;
      background: rgba(3, 152, 158, 0.39);
      border-left: 1rem solid $green;
      box-shadow: $border;
      line-height: 7.5rem;
      border-radius: 0.5rem;
    }

    .box{
      margin-bottom: 6rem;
     }
 }

    table{
      width: 100%;
      border-collapse: separate;
      text-align: center;
      border: 2px solid $black;

      .d{
        border-bottom: none;
      }

       th{
         background: $background;
         width: 10rem;
         height: 6rem;
         }

       td{
         width: 20rem;
         height: 6rem;
         border-bottom: 1px dotted $glay;
        }
      }

//----------------------

@media(max-width:1200px){
  html{
    font-size: 55%;
  }

  #footer{
        display: flex;
        justify-content: flex-end;

  }
}
@media(max-width:991px){

  html{
    font-size: 55%;
  }
  body{
    padding-left: 0;
  }
  #menu-btn{
    display: block;
  }
  .top-title{
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    .companyname{
    img{
      width: 4rem;
      height: 4rem;
    }
  }
 }

  .header{
    left: -110%;
    background: $green;

    &.active{
      position: fixed;
      overflow: auto;
      top: 0;left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
      width: 35rem;
      height: 100vh;
    }
}

 #home{
   padding: 0;
  .news{
    margin: 2rem;
    img{
      width: 70%;
    }
   }
 }

#main{

  .content{

 .info-add{
   .content-inner{
     display: flex;
     flex-direction: column;

     iframe{
       width: 100%;
     }
    }
   }
  }
 }


 #footer{
   display: flex;
   justify-content: space-around;
   align-items: center;

   .footer-content{

   ul{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin: 0;

     li{
       margin-left: .5rem;
       a{
         font-size: 2rem;
       }
     }
   }
  }
 }
  //----company-info----
  .content{
    padding:  3rem 5%;
  }

}

@media(max-width:450px){
  html{
    font-size: 35%;
  }

  #toppage{
    .top-title{
      display: flex;
      flex-flow: row;
      align-items: flex-start;

    }
  }
  .info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .item{
      img{
        width: 100%;

      }
    }
  }



  #footer{

    .footer-content{

    ul{
      display: flex;
      align-items: center;
      margin: 0;
      li{
        a{
          font-size: .2rem
        }
      }
    }
  }
 }
}
