$black: #292528;
$red: #fe4343;
$green: #79cf8c;
$white: #fff;
$border:.1rem solid rgba(0,0,0,.1);
$light-bg:#666;
$box-shadow:0 0 .5rem rgba(0,0,0,.5);

@mixin grid($val){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:2rem;
}

*{
  font-family:　'ＭＳ ゴシック','ヒラギノ角ゴシック','Hiragino Sans','Mongolian Baiti','Avenir Next','Menlo',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%; //基準のとなるpxが10px程度のサイズになる
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar{
   width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: transparent;
  }

  &::-webkit-scrollbar-track{
    background: transparent;
  }
}

body{
  padding-left: 30rem;

  img ,iframe{
    box-shadow: $box-shadow;
  }
}

section{
  padding: 3rem 5%;
}

.header{
  position: absolute;
  top: 0; left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-flow: column;
  align-content: center;
  width: 30rem;
  height: 100%;
  padding: 3rem;

  .logo{
    .logoimg{
    margin-bottom: 2rem;
    }
  }

  .navbar{
    padding: 20% 0;
    background-color: $black;

    a{
      display: block;
      font-size: 2rem;
      margin: 1.5rem 0;
      color: $black;

      &:hover{
        color: $red;
        letter-spacing: .1rem;
      }
    }
  }

.share{
  text-align: center;

  a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    background: $white;
    color: $black;
    margin: 0 .3rem;

    &:hover{
      background:$black;
      color: $white;
      }
    }
  }

 .credit{
   text-align: center;
   color: $white;
   font-size: 1.5rem;
   padding-top: 10%;
 }

}

#menu-btn{
  position: none;
  top: 1rem; right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: $black;
  color: $white;
  text-align: center;
  z-index: 1000;
  display: none;

  &.fa-times{
    background: $white;
    color: $black;
  }
}

.home{
  text-align: center;

  img{
    display: block;
    width: 100%;
  }
}

.info-container{
  @include grid(40rem);

  .item{
    display: flex;
    align-items: center;
    padding: 2rem;

    img{
      width: 100%;
    }
  }
}

.main{
  @include grid(80rem);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h2{
    padding-top: 2rem;
    font-size: 3rem;
    color: $black;
    text-transform: uppercase;
  }

  img , iframe{
    display: block;
    width: 70vw;
  }

  .info-add{
    align-items: center;
  }
}











@media(max-width:1200px){
  html{
    font-size: 55%;
  }
}
@media(max-width:991px){
  body{
    padding-left: 0;
  }
  #menu-btn{
    display: block;
  }
  .header{
    left: -110%;

    &.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
      width: 30rem;
      position: fixed;
      overflow-y: scroll;
    }
  }

  .info-container{
    @include grid(40rem);
    justify-content: center;

    img{
      margin: 2rem;
    }
  }


}

@media(max-width:450px){
  html{
    font-size: 50%;
  }
}
