$black: #292528;
$red: #fe4343;
$green: #79cf8c;
$white: #fff;
$border:.1rem solid rgba(0,0,0,.1);
$light-bg:#666;

*{
  font-family: 'Poppins',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

@mixin grid($val){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val,1fr));
  gap:2rem;
}

html{
  font-size: 62.5%; //基準のとなるpxが10px程度のサイズになる
  overflow-x: hidden;
  scroll-behavior: smooth;
}

   .header{
     position: fixed;
     top:0; left: 0;
     z-index: 1000;
     display: flex;
     align-items: center;
     flex-flow: column;
     align-content: center;
     width: 30rem;
     height: 100%;
     padding: 3rem;
     background: $green;


     .headerimg{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-flow: column;

       .slogan{
         margin: 4rem 0;
       }
     }

    .navbar{
      padding: 20% 0;

      a{
        display: block;
        font-size: 2rem;
        margin: .2rem 0;
        color: $black;

        &:hover{
          color: $red;
          text-decoration: none;
          letter-spacing: .1rem;
          text-decoration: underline;
        }
      }
    }
    .share{
      text-align: center;

      a{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        background: $black;
        color: $white;
        margin: 0 .1rem;

        &:hover{
          color: $black;
          background: $white;
        }
      }
    }

    .credit{
      text-align: center;
      color: $black;
      font-size: 1.5rem;
      padding-top: 10%;
    }
  }

#menu-btn{
  position: fixed;
  top: 1rem; right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background: #555;
  color:$white;
  text-align: center;
  z-index: 10000;
  display: none;
}






@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width:991px){

  .menu-btn{
    display: block;
  }

  .header{
    left: -110%;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}
